{% extends "gentle/base.html" %}
{% load static %}
{% load urify %}
{% block title %}{{ obj.title }}{% endblock %}
{% block main %}
  <div id="detail">
    {% if obj.image %}
      <img src="{{ obj.image.url }}" alt="{{ image.url }}" class="img-rounded">
    {% endif %}
    <h1>{{ obj.title }}</h1>
    <small>{% if obj.draft %}
      <span style="color:#ff1493;">Draft </span>{% endif %}
    </small>
    <div class="social">
      {{ obj.publish }}
      <a href="https://twitter.com/home?status={{ obj.title|truncatechars:10|urify }}%20{{ ruquest.build_absolute_uri }}" target="_blank">Twitter</a>
    </div>
    <div class="detail-wrapper">
      <h4>Written by {{ obj.author}}</h4>
    </div>
    <div class="detail-text">
      <h2>{{ obj.text }}</h2>
    </div>
  </div>
{% endblock main %}
