{% extends "gentle/base.html" %}
{% load static %}
{% load urify %}
{% block title %}{{ obj.title }}{% endblock %}
{% if messages %}
{# {% for message in messages %}
  <ul>
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
      </li>
  </ul>
{% endfor %}
{% endif %}#}

{% block main %}
  <div id="noted">
    {% if obj.image %}
      <img src="{{ obj.image.url }}" alt="{{ image.url }}" class="img-rounded">
    {% endif %}
      <h1>{{ obj.title }}</h1>
      <small>{% if obj.draft %}
        <span style="color:#ff1493;">Draft </span>{% endif %}{{ obj.publish }}
      </small>
      <div class="social">
        <a href="https://twitter.com/home?status={{ obj.title|truncatechars:10|urify }}%20{{ ruquest.build_absolute_uri }}" target="_blank">Twitter</a>
      </div>
      <ul class="list-group">
          <li class="list-group-item">
              <i class="fa fa-user fa-fw" aria-hidden="true"></i>
              Written by {{ obj.author }}
          </li>
          <li class="list-group-item">
              <i class="fa fa-music fa-fw" aria-hidden="true"></i>
              {{ obj.title }}
          </li>
          <li class="list-group-item">
              <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>
              {{ obj.text }}
          </li>
      </ul>
  </div>
{% endblock main %}
