{% extends "gentle/base.html" %}
{% load staticfiles %}
{% load urify %}
{% block title %}{{ obj.title }}{% endblock %}
{% if messages %}
{% for message in messages %}
  <ul>
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
      </li>
  </ul>
{% endfor %}
{% endif %}

{% block main %}
  <div id="noted">
    {% if obj.image %}
      <img src="{{ obj.image.url }}" alt="{{ image.url }}" class="img-rounded">
    {% endif %}
      <h3>{{ obj.title }}</h3><small>{{ obj.created|timesince }}</small>
      <div class="social">
        <a href="https://twitter.com/home?status={{ obj.text|truncatechars:80|urify }}%20{{ ruquest.build_absolute_uri }}">Twitter</a>
      </div>
      <ul class="list-group">
          <li class="list-group-item">
              <i class="fa fa-user fa-fw" aria-hidden="true"></i>
              {{ obj.author }}
          </li>
          <li class="list-group-item">
              <i class="fa fa-music fa-fw" aria-hidden="true"></i>
              {{ obj.title }}
          </li>
          <li class="list-group-item">
              <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>
              {{ obj.text }}
          </li>
      </ul>
  </div>
{% endblock main %}
