{% extends "gentle/base.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block main %}
  <div class="abo">
    <div class="container">
      <div class="row centered">
        <h2>Matz Chromatiq</h2>
        <h3>Junior Django programmer</h3>
      </div>
    </div>
  </div>
  <div id="web">
    <div class="container">
      <div class="row centered">
        <br>
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Web Development</h4>
           <p>Need a website?
             Please hang up and send me a message in the Telegram.
           </p>
           <p>Linux distro (Debian,Redhat,ArchLinux,etc).</p>
          <p>Stack: Django, Bootstrap, JS, only Sass,Git.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
