{% extends "gentle/base.html" %}
{% load staticfiles %}
{% block title %}Blog{% endblock %}
{% block main %}
    <div id="noted">
        {% for obj in object_list %}
            <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
                    {{ obj.author }}
                </li>
                <li class="list-group-item">
                    <i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>
                    {{ obj.title }}
                </li>
                <li class="list-group-item">
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                    {{ obj.text }}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
