{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Gentle Linux</title>
    {% include "gentle/default.html" %}

    <!-- HTML5 Shim IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
{% block extra %}{% endblock extra %}
</head>
<body>
{% include "gentle/header.html" %}
<div class="container">
    {% block main %}{% endblock %}
</div>
{% include "gentle/footer.html" %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) and Markdown min.js-->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".detail-text").each(function(){
      var content = $(this).text()
      console.log(content)
      var markdown = marked(content)
      console.log(markdown)
      $(this).html(markdown)
    })
  })
</script>
</body>
</html>
